<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: head"></head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <div th:replace="admin/fragments/header :: header"></div>
    <div th:replace="admin/fragments/sidebar :: sidebar"></div>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Danh sách phiếu nhập
                <small>Bắt đầu từ đây</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
                <li><a href="#">Ví dụ</a></li>
                <li class="active">Danh sách phiếu nhập</li>
            </ol>
        </section>

        <section class="content" style=" display: grid; place-items: center;">
            <div class=" col-md-9">
                <div class="box">

                    <div class="box-header with-border">
                        <h3 class="box-title">Danh sách phiếu nhập</h3>
                    </div>
                    <div class="box-body">
                        <table id="example" class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Mã phiếu nhập</th>
                                <th>Ngày nhập</th>
                                <th>Mã nhân viên</th>
                                <th>Nhà cung cấp</th>
                                <th>Xem chi tiết phiếu nhập</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="receipt : ${receipts}"
                                th:classappend="${#lists.contains(recentReceipts, receipt)} ? 'recent-entry' : ''">
                                <td th:text="${receipt.id}">Mã phiếu nhập</td>
                                <td th:text="${#temporals.format(receipt.date, 'yyyy-MM-dd')}"></td>
                                <td th:text="${receipt.staff.id}">Mã nhân viên</td>
                                <td th:text="${receipt.supplier.Name}">Nhà cung cấp</td>
                                <td id="edit-cell">
                                    <div th:unless="${#lists.isEmpty(receipt.listReceiptDetail)}">
                                        <a th:href="@{/admin/receiptdetail/list(id=${receipt.id})}"
                                           class="edit-button btn btn-info"><i class="bi bi-info-circle"></i> Xem chi
                                            tiết nhập</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Pagination -->
                    <div class="box-footer clearfix">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li th:class="${currentPage == 0} ? 'page-item disabled' : 'page-item'">
                                    <a class="page-link" th:href="@{/admin/receipt(page=0,size=${size})}">Previous</a>
                                </li>
                                <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                                    th:class="${currentPage == i} ? 'page-item active' : 'page-item'">
                                    <a class="page-link" th:href="@{/admin/receipt(page=${i},size=${size})}"
                                       th:text="${i + 1}"></a>
                                </li>
                                <li th:class="${currentPage == totalPages - 1} ? 'page-item disabled' : 'page-item'">
                                    <a class="page-link"
                                       th:href="@{/admin/receipt(page=${currentPage + 1},size=${size})}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </section>
    </div>

    <div th:replace="admin/fragments/footer :: footer"></div>
</div>
<style>
    .recent-entry {
    background-color: #dff0d8; /* Màu xanh nhạt cho hàng vừa nhập gần đây */
}

</style>
<script>
    function confirmDelete(form) {
        return confirm("Bạn có chắc chắn muốn xóa phiếu nhập này không?");
    }
</script>
<div th:replace="admin/fragments/script :: script"></div>

</body>
</html>
